<!--
#%L
PanDrugsDB Backend
%%
Copyright (C) 2015 Fátima Al-Shahrour, Elena Piñeiro, Daniel Glez-Peña and Miguel Reboiro-Jato
%%
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public
License along with this program.  If not, see
<http://www.gnu.org/licenses/gpl-3.0.html>.
#L%
-->
<Context>
        <Resource name="mail/session"
                auth="Container"
                type="javax.mail.Session"
                mail.smtp.host="sing.ei.uvigo.es"
                mail.smtp.port="25"
                mail.smtp.auth="false"
        />
        <Valve className="org.sing_group.tomcat.NoWWWAuthenticateForAJAXValve"></Valve>
        <Resource name="jdbc/pandrugs/database"
                auth="Container"
                type="javax.sql.DataSource"
                factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
                initialSize="5"
                maxActive="55"
                maxIdle="21"
                minIdle="13"
                timeBetweenEvictionRunsMillis="34000"
                minEvictableIdleTimeMillis="55000"
                validationQuery="SELECT 1"
                validationInterval="34"
                testOnBorrow="true"
                removeAbandoned="true"
                removeAbandonedTimeout="233"
                username="pandrugsdb"
                password="pandrugsdb"
                driverClassName="com.mysql.jdbc.Driver"
                url="jdbc:mysql://localhost:3306/pandrugsdb?allowMultiQueries=true"
         />
   
        <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm resourceName="PanDrugsRealm" 
                        className="org.apache.catalina.realm.DataSourceRealm"
                        dataSourceName="jdbc/pandrugs/database"
                        userTable="user"
                        userNameCol="login"
                        userCredCol="password"
                        userRoleTable="user"
                        roleNameCol="role"
                        digest="MD5"
                        localDataSource="true"
                />
        </Realm>

        <Parameter name="user.data.directory" value="/pandrugs-backend_data" override = "false"/>

        <Parameter name="vep.command.template" value="perl /vep/vep --format vcf --sift b --polyphen b --ccds --uniprot --hgvs --symbol --numbers --domains --regulatory --canonical --protein --biotype --uniprot --tsl --af --variant_class --xref_refseq --af_1kg --af_esp --af_gnomad --dir /vep/.vep  --config /vep/registry.local --plugin Condel,/vep/.vep/Plugins/config/Condel/config,b  --fork 8 --offline  --force_overwrite --vcf --no_progress  --fasta /vep/.vep/homo_sapiens/90_GRCh37/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa --buffer_size 5  -i %1$s  --output_file %2$s" override = "false"/>


        <Parameter name="veptovscore.command.template" value="perl /vep-parser/VEP_parser_v19_PD.pl -f=%1$s -o=%2$s -sp=%3$s -r=%3$s -p=cancer -tc=%3$s -c=no -v=FALSE -t=BOTH -d=/vep-parser/databases/" override = "false" />


</Context>
