<!--
#%L
PanDrugsDB Backend
%%
Copyright (C) 2015 Fátima Al-Shahrour, Elena Piñeiro, Daniel Glez-Peña and Miguel Reboiro-Jato
%%
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public
License along with this program.  If not, see
<http://www.gnu.org/licenses/gpl-3.0.html>.
#L%
-->
<Context>
        <Resource name="mail/session"
                auth="Container"
                type="javax.mail.Session"
                mail.smtp.host="sing.ei.uvigo.es"
                mail.smtp.port="25"
                mail.smtp.auth="false"
        />
        <Valve className="org.sing_group.tomcat.NoWWWAuthenticateForAJAXValve"></Valve>
        <Resource name="jdbc/pandrugs/database"
                auth="Container"
                type="javax.sql.DataSource"
                factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
                initialSize="5"
                maxActive="55"
                maxIdle="21"
                minIdle="13"
                timeBetweenEvictionRunsMillis="34000"
                minEvictableIdleTimeMillis="55000"
                validationQuery="SELECT 1"
                validationInterval="34"
                testOnBorrow="true"
                removeAbandoned="true"
                removeAbandonedTimeout="233"
                username="pandrugsdb"
                password="pandrugsdb"
                driverClassName="com.mysql.jdbc.Driver"
                url="jdbc:mysql://localhost:3306/pandrugsdb?allowMultiQueries=true"
         />

        <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm resourceName="PanDrugsRealm"
                        className="org.apache.catalina.realm.DataSourceRealm"
                        dataSourceName="jdbc/pandrugs/database"
                        userTable="user"
                        userNameCol="login"
                        userCredCol="password"
                        userRoleTable="user"
                        roleNameCol="role"
                        digest="MD5"
                        localDataSource="true"
                />
        </Realm>

        <Parameter name="user.data.directory" value="/pandrugs-backend_data" override = "false"/>

        <Parameter name="vep.command.template" value="/pandrugs-additional-scripts/run-pandrugs-vep-on-docker.sh %1$s %2$s /opt/pandrugs2/vep-data" override = "false"/>

        <Parameter name="veptovscore.command.template" value="/pandrugs-additional-scripts/run-pandrugs-vep-parser-on-docker.sh %1$s %2$s /opt/pandrugs2/vep-data/vep-parser" override = "false"/>

        <Parameter name="pharmcat.command.template.1" value="/pandrugs-additional-scripts/pharmcat-pandrugs.sh %1$s" override = "false"/>

        <Parameter name="pharmcat.command.template.2" value="/pandrugs-additional-scripts/pharmcat-pandrugs.sh %1$s %2$s" override = "false"/>

        <Parameter name="vcf.check.preprocess.command.template" value="/pandrugs-additional-scripts/check-and-preprocess-vcf.sh %1$s %2$s" override = "false"/>
</Context>
